doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title="Dog Lover's Survey"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://meyerweb.com/eric/tools/css/reset/reset.css" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    block style
  body
    h1(id="title") Dog Lovers Survey
    p(id="description") Please take your time to fill out this survey

    block content

    footer
      ul(class="contacts")
        li(class="contact")
          a(href="#")
            i(class="fab fa-github")
        li(class="contact")
          a(href="#")
            i(class="fab fa-linkedin")
        li(class="contact")
          a(href="#")
            i(class="fab fa-twitter")
        li(class="contact")
          a(href="#")
            i(class="fas fa-envelope")
      div(class="copyright") &copy;2018 Brandon Mellus
    
    script(src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js")
